@use '../../../styles/utils/colors' as *;

.menu_navigation {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    list-style: none;

    > li {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $text;

    
        > a:link, & > a:visited {
            text-decoration: none;
            color: $text;
        }
    }

    > .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        > a:link, > a:visited {
            color: $text;
            font-size: 1.4rem;
            text-decoration: none;
            padding: 0 1.6rem 1.6rem;

            &:not(:last-child) {
                border-bottom: .1rem solid $lightgray;
            }
        }
    }
}
