@use '../../../styles/utils/colors' as *;
@use '../../../styles/utils/breakpoints' as *;

.navigation {
    display: grid;
    place-content: center;
    z-index: 9999;

    > ul {
        display: flex;
        gap: 1.6rem;

        list-style: none;

        > li {
            > a:link, > a:visited {
                display: block;

                color: $text;
                font-size: 1.4rem;
                font-weight: 500;
                padding: .6rem .8rem;
                border-radius: .4rem;
                text-decoration: none;

                &:hover {
                    background-color: $primary-hover;
                }

                &:active {
                    transform: translateY(.1rem);
                }

                &::selection {
                    background-color: $primary;
                    color: $white;
                }
            }

            > svg {
                display: block;
    
                @extend .icon;
            }
        }

        @include tablet {
            display: none;
        }
    }

    > svg {
        display: none;

        @extend .icon;
        color: $black !important;
    }

    @include tablet {
        justify-self: end;
    }
}

// REUSABLE
.icon {
    color: $icon;
    font-size: 3.4rem;
    padding: .6rem;
    border-radius: .4rem;
    cursor: pointer;

    &:hover {
        background-color: $primary-hover;
    }

    &:active {
        transform: translateY(.1rem);
    }

    @include tablet {
        display: block;
    }
}
