@use '../../../styles/utils/colors' as *;
@use '../../../styles/utils/mixins' as *;

.title {
    font-size: 2rem;
    font-weight: 600;
    color: $text;

    margin-bottom: 1.6rem;

    &::selection {
        background-color: $primary;
        color: $white;
    }

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}
