/* PRIMARY */
$primary: #543434;
$primary-hover: rgba($primary, 0.15);

/* SECONDARY */
$secondary: #DFC3A5;
$secondary-hover: darken($secondary, 5%);

$lightgray: #dee2e6;
$white: #ffffff;
$black: #000000;
$text: #495057;
$icon: $text;
